/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

.content{
    border:#000 0px;
    width: 90%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

.agenda{
    background-color: var(--lighter-green);
    color:#000;
    text-align: center;
    padding: 10px;
    min-height: 300px;
}

.login{
    background-color: var(--lighter-red);
    color:#fff;
    text-align: center;
    padding: 10px;
    min-height: 300px;
    margin-top: 20px;
}

.footer{
    background-color: var(--darker-orange);
    color: #fff;
    padding: 75px;
    min-height: 300px;
    margin-top: 20px;
}

a:link, a:visited {
    text-decoration: none;
    
}
.buttoncontainer{
    width: 125px;
    padding: 1px;
    color: #FFF;
    background-color: var(--lighter-red);
    margin: 5px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
}
.menulinks{
    color: var(--lighter-red);
    padding: 100px;
    
}

.menu {
    position: fixed;
    top: 20px;
    right: 30px;
    color: var(--darker-orange);
    font-size: 32px;
}
.menu-trigger {
    background-color: rgb(54, 51, 51);
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease;
   
    border-radius: 5%;
    text-align: center;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 300px;
    background-color: #fff;
    transition: all 0.4s ease;
    padding: 40px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

.menu-trigger:hover .dropdown {
    top: 0px;
}

.star {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    width: 50px;
}

.star:hover {
    color: #F00;
}
.red {
    color: #F00;
}

/*tabladen*/
.tabs {
    margin-top: 20px;
	width:90%;
	display:inline-block;
    
}
.tab-links li {
	margin:0px -5px 0px 0px;
	float:left;
	list-style:none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    border-radius:20px;
    
}
.tab-links a {
    font-family:    var(--heading);
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background: #fff;
	font-size:20px;
	font-weight:600;
	color:#95b82d;
	transition:all linear 0.15s;
    border-radius:20px;
    
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}
/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
	background:#fff;
}
.tab {
	display:none;
}

.tab.active {
	display:block;
}

.zoekbalk {
    position: fixed;
    top: 20px;
    right: 100px;
}

.zoekbalk i{ 
    position: absolute; 
    left: 18px; 
    top: 8px; 
    color: var(--darker-orange); 
} 