<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

    <script>
    $(document).ready(function() {
	$heart = 0;
	reset_heart_color();

	$('.fa-heart').on('click', function () {
		if ($heart == 1) {
		    const gerecht_id = $(this).attr('data-id');
			var url = `index.php?gerecht_id=${ gerecht_id }&action=favoriet&user_id=1&verwijderen=1`
			console.log(url)
			$heart = 0;

		} 
        else {
			$heart = 1;
			$(".heart").addClass("red")
            const gerecht_id = $(this).attr('data-id');
            var url = `index.php?gerecht_id=${ gerecht_id }&action=favoriet&user_id=1`;
			console.log(url)};
          
			$.ajax({
   				url: url,
				method: "GET",
				success: function(result) { 
				    console.log(result);
				}
			})	
	})

	$('.fa-heart').mouseover(function() {
		$('.fa-heart').css('color', 'red');
		if ($heart == 1) {
			$('.fa-heart').css('color', 'gray')
		}
	})
	

	$('.fa-heart').mouseleave(function() {
		if ($heart == 0) {
        	reset_heart_color();
		} else {
			reset_heart_color_red()
		}
	}
	)})

	function reset_heart_color() {
        $('.fa-heart').css('color', 'gray');
    }

	function reset_heart_color_red() {
		$('.fa-heart').css('color', 'red');
	}	
    </script>
    <script>
    jQuery(document).ready(function() {
	jQuery('.tabs .tab-links a').on('click', function(e) {
		var currentAttrValue = jQuery(this).attr('href');

		jQuery('.tabs ' + currentAttrValue).show().siblings().hide();
		jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

		e.preventDefault();
	});
    });
    </script>

    <style>
            div.a {
                text-align: left;
                padding-left: 20px;
                display: inline-block;
                }
            div.b {
                text-align: right;
                padding-right: 20px
                display: inline-block;
                }
    </style>
</html>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
        {% block header %}
            
        {% endblock %}   
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <section class="agenda">
            <h2 style='color: #fff'>Agenda</h2>
            <h2><i class="fa fa-calendar" style="color: #fff;" ></i> 
            <i class="fa-solid fa-people-group" style="color: #dc3439;"></i>
             Vegetarisch koken </h2>
            Workshop vegetarisch koken
            {#FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
            <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a> #}
            </section>
    <div class="row">
    <div class="col-md-12">
    <section class="login">
            <h2 style='color: #fff'>Login</h2>
            <form>
            <label for="email">Emailadres:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="pwd">Wachtwoord:</label><br>
            <input type="password" id="pwd" name="pwd"><br>
            <input type="submit" value="login">
            </form>
        </section>
    </div>
    </div>

        </div>
        <div class="col-md-9">
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


{#footer#}
<footer class="footer">
    <div class="row">
        <div class="col-md-1">
                 
                        <img src="assets/img/verrukkulluk-pay-off.png" style="width: 100px; height: 100px;"/>
        </div>
            <div class="col-md-11">
                        <img src="assets/img/verrukkulluk-contact.png" style="width: 200px; height: 100px;"/>
                 <br>verukkulluk.nl
                 <br>Poststraat 2b
                 <br>Sittard
                 <br>info@verrukkulluk.nl
                    </div>
                 
            </div>
        </div>
    </div>
</footer>


</div>

</body>
