{% extends "main.html.twig" %}
{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var urlParams = new URLSearchParams(window.location.search);
            var zoekterm = urlParams.get('q') || '';

            var zoektermElement = document.getElementById("zoekterm");

            console.log('Zoekterm:', zoekterm);

            if (zoektermElement) {
                zoektermElement.textContent = zoekterm;
            } else {
                console.error('Element with id "zoekterm" not found.');
            }
        });
    </script>

    <h2>Zoekresultaten voor: <span id="zoekterm" data-zoekterm="{{ zoekterm }}"></span></h2>

    {% for record in data %}
        {# Toon alleen gerechten waarvan de titel de zoekterm bevat #}
        {% if zoekterm in record.titel %}
            <li>{{ record.titel }}</li>
        {% endif %}
    {% endfor %}

    {% if zoekterm is empty %}
        <p>Geen zoekopdracht ingevoerd.</p>
    {% endif %}
{% endblock %}